@import './../../theme/style.styl'

.text
  padding: 20px;
  background-repeat:  no-repeat
  background-position: center;
  display: block

.textarea
  padding: 20px;
  display: inline-block;
  border: solid 1px $textarea-border;
  min-height: 200px;
  width: 100%;

.new__fairytale__button
  display flex
  justify-content flex-end
  padding 15px 0
  background-color $modal__background
  
.btn__back
  float left
