@import './../../theme/style.styl'

.text
  padding: 20px;
  background-repeat:  no-repeat
  background-position: center;
  display: block
.textarea
  padding: 20px;
  display: inline-block;
  border: solid 1px #000;
  min-height: 200px;
  width: 100%;