@import './../../theme/style.styl'

.text
  padding: 20px;
  background-repeat:  no-repeat
  background-position: center;
  display: block
.textarea
  padding: 20px;
  display: inline-block;
  border: solid 1px #000;
  min-height: 200px;
  width: 100%;

.new__fairytale__button
  display flex
  justify-content flex-end
  padding 15px 0
  background-color $modal__background

.btn__close
  background-color: #fff;
  border: 1px solid #009688;
  color: #009688;
  width: 90px;
  height: 36px;
  border-radius: 2px;
  line-height: 1.43;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.48);
  text-align: center;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin 10px

.btn__add
  color: #fff;
  background-color: #009688;
  border: 1px solid #009688;
  width: 90px;
  height: 36px;
  border-radius: 2px;
  line-height: 1.43;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.48);
  text-align: center;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin 10px
