// main color
$main = #ffffff
$dark-brown = #d3531a;
$darkest-brown = rgba(220, 118, 39, 1);
$light-brown = rgba(220, 118, 39, 0.42);
$main__hover = rgba(255, 255, 255, 0.5);
$lighter-brown = rgba(220, 118, 39, 0.15);
$lightest-brown = rgba(220,118,39,0.65);


$red = ef4824;
$red-dark = d7401f;
$grey = 5b5a5a;

$lightest-blue = #eee;

$black-text = #444;

$white = #fff;
$black = #000;

$main__shadow = rgba(0, 0, 0, 0.5);

$secondary__hover = rgba(0, 0, 0, 0.8);

$main__text-color = #5c3e25;
$secondary__text-color = #edd0b2;
$third__text-color = #e7d8c8;

$main__background = #bb8e65;

// login 

$login__primary-color = #f44336;
$login__primary-color-dark = $login__primary-color;
$login__primary-color-tint = $login__primary-color;
$login__secondary-color = #222;
$login__secodnary-color-dark = $login__secondary-color;
$login__secondary-color-tint = $login__secondary-color;

$login__form-width = 16rem;


// button add
$button__add =  #d23f31;
$button__add-shadow = rgba(0, 0, 0, 0.16);
$button__add-font = #ffffff

// modal
$modal__background-head = rgba(0, 0, 0, 0.5);
$modal__background = #ffffff;
$modal__header = #444444;
$modal__header-font = #fff;
$modal__label = #666666;
$modal__input-font =  #333333;

// table
$table_header-link = $dark-brown;
$table_item = $light-brown;
$table_item-hover = $lighter-brown;

//sidebar
$sidebar_item-hover = $dark-brown;

//menu
$menu-bg = $lightest-brown;
$menu-span = $dark-brown;
$menu-links-bg = $lightest-brown;

//item fairytales admin
$textarea-border = $black;
$btn__close-bg = $white;
$btn__close-bg-hover = $darkest-brown;
$btn__close-border = $darkest-brown;
$btn__add-bg-hover = $darkest-brown;
$btn__add-border = $darkest-brown;
$btn__close-color = $darkest-brown;
$btn__add-color = $darkest-brown;
$btn__close-shadow = rgba(0,0,0,0.48);


//login and registration form button
$form_button-bg = $darkest-brown;
$form_button-border = $darkest-brown;
$form_button-shadow = $darkest-brown;
$form_button-color = $darkest-brown;
$form_input-color = $darkest-brown;

//new fairytele
$new_fairytele-bottom-border = $darkest-brown;
$new_fairytele-shadow = $darkest-brown;
$new_fairytele-outline = $darkest-brown;
$btn_submit = #26a69a

// pagination

$pagination-link-active = $dark-brown;
$pagination-link-active-shadow = rgba(0,0,0,0.5);
$pagination-link-text = $black-text;
$pagination__strip-bg = #f5d5c0;
$pagination__strip-shadow = rgba(0,0,0,0.5);

// page-not-found
$error-text-bg = $red;
$error-text-hover = $red-dark;
$error-text-border = $red;
$back-bg-active = $red;
$back-hover = $black-text;
$back-bg = $grey;