// main color
$main = #ffffff

$main__hover = rgba(255, 255, 255, 0.5);

$main__shadow = rgba(0, 0, 0, 0.5);

$secondary__hover = rgba(0, 0, 0, 0.8);

$main__text-color = #5c3e25;
$secondary__text-color = #edd0b2;
$third__text-color = #e7d8c8;

$main__background = #bb8e65;

// login 

$login__primary-color = #f44336;
$login__primary-color-dark = $login__primary-color;
$login__primary-color-tint = $login__primary-color;
$login__secondary-color = #222;
$login__secodnary-color-dark = $login__secondary-color;
$login__secondary-color-tint = $login__secondary-color;

$login__form-width = 16rem;


// button add
$button__add =  #d23f31;
$button__add-shadow = rgba(0, 0, 0, 0.16);
$button__add-font = #ffffff
