@import './../../theme/style.styl'

.header
  display flex
  align-items: center;
  flex auto
  width: 100%;
  box-shadow: 0 3px 6px 0 $main__shadow ;
  width: 100%

.logo
  width 100%
  height auto
  vertical-align: middle;
  border: 0;
  min-width 75px

.title-wrapper h1
  font-size: 3rem;
  margin: 2.5rem 0 1.68rem 0;

.title-wrapper h3
  font-size: 2rem;
  margin: 1.5rem 0 1.168rem 0;

.title-wrapper
  margin: 0 auto;
  text-align: center;
