@import './../../theme/style.styl'

.header
  display flex
  justify-content: space-around;
  align-items: center;
  flex auto
  width: 100%;
  box-shadow: 0 3px 6px 0 $main__shadow ;
  margin-bottom 15px
  width: 100%

