.sidebar__ul
  overflow auto

ul.open
  display: block !important;
  overflow: unset;

#menu-links
  transition .3s
  display:none;
  background-color: rgba(220,118,39,0.65);

#menu-links img
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;

#menu-links.open
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  width: 20%;
  min-width: 110px;
  background-color: rgba(220,118,39,0.65);
  display:block;
  margin: 0;

#menu-links > li
  list-style-type: none;

#menu-links > li a
    color: #444;
    display: block;
    padding: 20px 15%;

#menu-links > li a:hover
    background-color:  #d3531a;
    color: #fff;

#menu-links > li a.active
    background-color:  #d3531a;
    color: #fff;

div.table
  width: 100%;

div.table table
    width: 100%;

section
   width: 90%;
   margin: 0 auto;
   text-align: center;

.show
  display:block;


