@import './../../theme/style.styl'

.footer
  display flex
  justify-content: space-between;
  align-items: center;
  flex auto
  width: 100%;
  box-shadow: 0 3px 6px 0 $main__shadow ;
  margin-top 15px
  position fixed
  padding 40px 0 0 0
  bottom: 0

