@import './../../theme/style.styl'

.footer
  display block
  justify-content: space-between;
  align-items: center;
  flex auto
  width: 100%;
  box-shadow: 0 3px 6px 0 $main__shadow ;
  margin-top 15px
  position fixed
  padding 20px
  bottom: 0
  height: auto
  max-height 40px


