.pagination-wrapper
  text-align: center;

.pagination-wrapper ul
  display: inline-block;
  text-align: center;

.pagination li
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  vertical-align: inherit;
  height: auto;

.pagination li a.active
  background-color: #d3531a;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

select:focus
  outline: none;

.pagination li a
  color: #444;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;

.pagination__strip-wrap
  display: flex
  justify-content: space-between

.pagination__strip
  display: block;
  width: 100%
  height auto
  max-width 75px
  background #f5d5c0
  max-height: 30px;
  margin: 12px 0 12px 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border: none;