.pagination-wrapper
  text-align: center;

.pagination-wrapper ul
  display: inline-block;
  text-align: center;

.pagination li
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  vertical-align: inherit;
  height: auto;

.pagination li a.active
  background-color: $pagination-link-active;
  box-shadow: 0 0 10px $pagination-link-active-shadow;

select:focus
  outline: none;

.pagination li a
  color: $pagination-link-text;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;

.pagination__strip-wrap
  display: flex
  justify-content: space-between

.pagination__strip
  display: block;
  width: 100%
  height auto
  max-width 75px
  background $pagination__strip-bg
  max-height: 30px;
  margin: 12px 0 12px 12px;
  box-shadow: 0 0 10px $pagination__strip-shadow;
  border: none;