.table {
    width: 1000px;

    table {
        margin: 0;
        padding: 0;
        border: 0;
        width: 1000px;

        tbody {
            tr:first-child {
                td {
                    border-top: 1px solid #d8dde3;
                }
            }
            tr:nth-child(odd) {
                background-color: #f7f8fa;
            }
        }
    }

}