.table
  width: 100%;


.table table
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;

.table table thead tr:first-child
    border: 1px solid $table_item;

.table table thead tr th a
    color: $table_header-link;

.table table tbody tr
    border: 1px solid $table_item;


.table table tbody tr:hover
    background-color: $table_item-hover;
    cursor: pointer
