.table
  width: 100%;
  margin-bottom: 30px;

.table table
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;

.table table thead tr:first-child
    border: 1px solid rgba(220, 118, 39, 0.42);

.table table thead tr th a
    color: #d3531a;

.table table tbody tr
    border: 1px solid rgba(220, 118, 39, 0.42);


.table table tbody tr:hover
    background-color: rgba(220, 118, 39, 0.15);
    cursor: pointer
